<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Loda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{public.css}" href="public.css" rel="stylesheet" type="text/css" />
    <link th:href="@{css/bootstrap.min.css}" href="bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 th:utext="#{loda.hello}"></h1>
aaaaaaa
<a th:href="@{/profile}" class="btn btn-primary">Loda Profile</a>
<button type="button" class="btn btn-primary">Primary</button>
</body>

</html>
